{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 1 version", "not dead", "> 1%"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/transform-runtime", "@babel/plugin-proposal-class-properties"],
  "sourceMaps": true
}
